**************************************
Current Weather Conditions for:
${location.address}
--------------------------------------
Condition: ${weather.condition}
Temperature: ${weather.temperature}°C (feels like ${weather.apparentTemperature})
Humidity: ${weather.humidity}%
**************************************
